bin/
lib/
local/
share/
app-env
ranking/dog_breeds_classification/*
!ranking/dog_breeds_classification/
!ranking/dog_breeds_classification/src/
!ranking/dog_breeds_classification/data/
ranking/dog_breeds_classification/data/*
!ranking/dog_breeds_classification/data/breeds.csv
!ranking/dog_breeds_classification/setup/
**/__pycache__
*.pyc
celerybeat-schedule
dump.rdb
db.sqlite3
venv
